@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root{
  --primary-white : #fff;
  --primary-orange : #f9ab00;
  --primary-dark : #212529;
}

body{
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
}
/* ------------------------- */
/*        navbar             */
/* -------------------------- */
nav a.nav-link{
  /* letter-spacing: 0.0375rem; */
  cursor: pointer;
  
}
nav ul li {
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}

.navbar-nav > li > a{
  margin-right: 0.75rem;
  margin-left: 00.75rem;
  color : var(--primary-white) !important;
  border-top: 1px solid var(--primary-dark);
  transition: all 0.3s ease-in-out;
 

}

.navbar-nav > li > a.active, .navbar-nav > li > a:hover{
border-top: 1px solid var(--primary-orange);
}